.section {
    width: 100%;
    padding: 120px 0;
    text-align: center;
  }
  
   h2 {
    color: #ffffff;
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 1.3px;
    line-height: 1;
  }
  
   h2 span {
    color: #ed563b;
  }
  
   p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.7;
  }
  
 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0 0;
  }
  
  @media (max-width: 650px) {
    .section > p {
      padding: 0 30px;
    }
  
    .section > p br {
      display: none;
    }
  }
  
  @media (max-width: 830px) {
    .section .container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (min-width: 831px) and (max-width: 1226px) {
    .section .container {
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 780px;
    }
  }
  